<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timetable | CRCE Lab Assigner</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body {
            background-color: #999999;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Lab Assigner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/timetable">Timetable</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/history">History <span class="sr-only">(current)</span></a>
                </li>


        </div>
    </nav>

    </br>
    <div class="container-fluid" style="width: 80%;">
        <div class="jumbotron">
            <h1 class="display-4">View Timetable</h1>
            <p class="lead">This will display the timetable based on the date input. By default it will show today's
                timetable.</p>
            <hr class="my-4">
            <form method="POST">
                <input name="date-input" type="date">

                <input style="margin-left: 25px;" type="submit" value="View" class="btn btn-info">
            </form>

            <hr class="my-4">

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Lab No.</th>
                            <th scope="col">8:45 - 9:45</th>
                            <th scope="col">9:45 - 10:45</th>
                            <th scope="col">11 - 12</th>
                            <th scope="col">12 - 1</th>
                            <th scope="col">1:30 - 2:30</th>
                            <th scope="col">2:30 - 3:30</th>
                            <th scope="col">3:30 - 4:30</th>
                            <th scope="col">4:30 - 5:30</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in value[0] %}
                        <tr>
                            <td style='font-weight: bold'>{{row[0]}}</td>
                            {% if row[1] in value %} <td style='color:blue; font-weight: bold;'>{{row[1]}}</td> {% elif row[1] in value[3] %} <td style='color:green; font-weight: bold;'>{{row[1]}}</td> {% else %} <td>{{row[1]}}</td>{% endif %}
                            {% if row[2] in value %} <td style='color:blue; font-weight: bold;'>{{row[2]}}</td> {% elif row[2] in value[3] %} <td style='color:green; font-weight: bold;'>{{row[2]}}</td> {% else %} <td>{{row[2]}}</td>{% endif %}
                            {% if row[3] in value %} <td style='color:blue; font-weight: bold;'>{{row[3]}}</td> {% elif row[3] in value[3] %} <td style='color:green; font-weight: bold;'>{{row[3]}}</td> {% else %} <td>{{row[3]}}</td>{% endif %}
                            {% if row[4] in value %} <td style='color:blue; font-weight: bold;'>{{row[4]}}</td> {% elif row[4] in value[3] %} <td style='color:green; font-weight: bold;'>{{row[4]}}</td> {% else %} <td>{{row[4]}}</td>{% endif %}
                            {% if row[5] in value %} <td style='color:blue; font-weight: bold;'>{{row[5]}}</td> {% elif row[5] in value[3] %} <td style='color:green; font-weight: bold;'>{{row[5]}}</td> {% else %} <td>{{row[5]}}</td>{% endif %}
                            {% if row[6] in value %} <td style='color:blue; font-weight: bold;'>{{row[6]}}</td> {% elif row[6] in value[3] %} <td style='color:green; font-weight: bold;'>{{row[6]}}</td> {% else %} <td>{{row[6]}}</td>{% endif %}
                            {% if row[7] in value %} <td style='color:blue; font-weight: bold;'>{{row[7]}}</td> {% elif row[7] in value[3] %} <td style='color:green; font-weight: bold;'>{{row[7]}}</td> {% else %} <td>{{row[7]}}</td>{% endif %}
                            {% if row[8] in value %} <td style='color:blue; font-weight: bold;'>{{row[8]}}</td> {% elif row[8] in value[3] %} <td style='color:green; font-weight: bold;'>{{row[8]}}</td> {% else %} <td>{{row[8]}}</td>{% endif %}

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>



            </div>

            <div>
                <h1 class="display-7" style="text-align:center;">Cancellations:</h1>
                {% for x in value[1] %}
                <p class="text-danger" style="text-align: center;">{{x}}<p>
                        {% endfor %}
            </div>


        </div>

    </div>

    <!-- SCripts-->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

</body>

</html>